/***Image w/o Animation***/
/**User**/
.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W .Voice_voiceState__OCoZh:not([data-reactid*="UserID"]) { display:none; } /** Broken **/
/**Avatar**/
.Voice_avatar__htiqH { content:url(ImageURL); }
/*Hide Scrollbars*/
body { overflow:hidden; }
/*Removal*/
.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W { margin:0; padding:0; }
/*Flex Setup*/
.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W .Voice_voiceState__OCoZh { height:auto; display:flex; justify-content:center; }
/*Avatar CSS*/
.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W .Voice_voiceState__OCoZh .Voice_avatar__htiqH { margin:0; width:auto; height:auto; border:0; border-radius:0; float:none; filter:brightness(50%); }
/*Speaking CSS*/
.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W .Voice_voiceState__OCoZh .Voice_avatar__htiqH.Voice_avatarSpeaking__lE\+4m { filter:brightness(100%); }
/*Username CSS*/
.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W .Voice_voiceState__OCoZh .Voice_user__8fGwX { position:absolute; bottom:3%; }
