/***Two Images w/ Animation***/
/**User**/li.Voice_voiceState__OCoZh:not([data-reactid*="UserID"]) { display:none; } /** Broken **/
/**Avatar**/.Voice_avatar__htiqH { content:url(ImageURL); }
/**Speaking**/.Voice_avatarSpeaking__lE\+4m { content:url(ImageURL); }
/*Hide Scrollbars*/body { overflow:hidden; }
/*Removal*/.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W { margin:0; padding:0; }
/*Avatar CSS*/.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W .Voice_voiceState__OCoZh .Voice_avatar__htiqH { width:auto; height:auto; border:0; border-radius:0; filter:brightness(50%); }
/*Speaking CSS*/.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W .Voice_voiceState__OCoZh .Voice_avatar__htiqH.Voice_avatarSpeaking__lE\+4m { position:relative; animation:speak-now 1s; filter:brightness(100%); }
/*Username CSS*/.Voice_voiceContainer__adk9M .Voice_voiceStates__a121W .Voice_voiceState__OCoZh .Voice_user__8fGwX { position:absolute; margin:auto; left:0; right:0; text-align:center; bottom:3%; }
/*Animation*/ @keyframes speak-now { 15%{ bottom:3px; } 30%{ bottom:0px; } }
