/***Image w/o Animation***/
/**User**/li.voice-state:not([data-reactid*="UserID"]) { display:none; }
/**Avatar**/.avatar { content:url(ImageURL); }
/*Hide Scrollbars*/body { overflow:hidden; }
/*Removal*/.voice-container .voice-states { margin:0; padding:0; }
/*Avatar CSS*/.voice-container .voice-states .voice-state .avatar { width:auto; height:auto; border:0; border-radius:0; filter:brightness(50%); }
/*Speaking CSS*/.voice-container .voice-states .voice-state .avatar.speaking { filter:brightness(100%); }
/*Username CSS*/.voice-container .voice-states .voice-state .user { margin:auto; position:absolute; left:0; right:0; text-align:center; bottom:3%; }
