/***Two Images w/o Animation***/
/**User**/
.voice-container .voice-states .voice-state:not([data-reactid*="455975681633812501"]) { display:none; }
/**Avatar**/
.avatar { content:url(ImageURL); }
/**Speaking**/
.speaking { content:url(ImageURL); }
/*Hide Scrollbars*/
body { overflow:hidden; }
/*Removal*/
.voice-container .voice-states { margin:0; padding:0; }
/*Flex Setup*/
.voice-container .voice-states .voice-state { height:auto; display:flex; justify-content:center; }
/*Avatar CSS*/
.voice-container .voice-states .voice-state .avatar { margin:0; width:auto; height:auto; border:0; border-radius:0; float:none; filter:brightness(50%); }
/*Speaking CSS*/
.voice-container .voice-states .voice-state .avatar.speaking { filter:brightness(100%); }
/*Username CSS*/
.voice-container .voice-states .voice-state .user { position:absolute; bottom:3%; }
